.invoice-address-container
{
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    padding: 2rem;
    background-color:rgb(253, 236, 209);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}
.invoice-container{
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    background-color: whitesmoke;
    width: auto;
    padding:2rem
}
.product-container
{
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    background-color: silver;
    width:auto;
    padding: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}