.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c8e3f5; 
  }
  
  .login-form {
    width: 400px; 
    background-color: whitesmoke; 
    padding: 30px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #cbd5e0;
  }
  
  .input:hover {
    background-color: #a0aec0; 
  }
  
  .button {
    background-color: #2d3748; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #1a202c; 
  }
  
  .error
  {
    color: red;
    font-size: 0.5cm;
  }