.registration-container {
    width :900px;;
    margin: 20px 500px 500px 450px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    font-size: 0.7cm;
}

.h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1cm;

}

.form-group {
    margin-bottom: 15px;
}

.label {
  font-family: cursive;
    
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid crimson;
    border-radius: 12px;

}

.button {
    width: 100%;
    padding: 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1cm;
}

.button:hover {
    background-color: white;
    color: aqua;
    font-size:1cm ;

}